<aside class="comments-container">
  <% for(let i=0; i < blogpost.comments.length; i++) { %>

    <section class="comment-wrapper">
      <div class="comment-header">
        <h3>
          On <%= blogpost.comments[i].postedDate %>
            <span class="highlight">
              <%= blogpost.comments[i].postedBy %>
            </span> said:
        </h3>
      </div>
      <p class="comment-body">
        <%= blogpost.comments[i].commentContent %>
      </p>
    </section>

    <% } %>

      <section class="post-comment-container">
        <form class="comment-form" action="/blog/<%= blogpost._id %>"
          method="POST">
          <label for="name"></label>
          <input type="text" maxlength="20" id="name" name="name" placeholder="Name here...">
          <label for="comment"></label>
          <textarea rows="4" maxlength="300" type="comment" id="comment" name="comment"
            placeholder="Comment here..."></textarea>
          <button type="submit">SUBMIT COMMENT</button>
        </form>
      </section>

</aside>