<header class="header">
  <h1 class="title">Malmös Blogg</h1>
  <nav>
    <ul class="main-navigation">
      <li><a class="link <%= currentLink === 'home' ? 'active-link' : '' %>" href="/">Home</a></li>
      <li><a class="link <%= currentLink === 'createpost' ? 'active-link' : '' %>" href="/create-post">New Post</a></li>
    </ul>
  </nav>
  <aside>
    <ul class="tag-navigation">
      <% for(let i=0; i < allTags.length; i++) { %>
        <li><a href="" class="tag-link">
            <%= allTags[i] %>
          </a></li>
        <% } %>
    </ul>
  </aside>
</header>