<%- include("./includes/head.ejs") %>
  </head>

  <body>
    <form>

      <label for="postedBy">Posted By:</label><br>
      <input type="text" id="postedBy" name="postedBy"><br>

      <label for="avatarLink">Avatar Link:</label><br>
      <input type="text" id="avatarLink" name="avatarLink"><br>

      <label for="cars">Tags:</label><br>
      <input type="text" id="tags" name="tags"><br>

      <label for="postedBy">Blogg post text</label><br>
      <textarea type="text" col="10" row="50" id="postContent" name="postContent"></textarea><br>

      <button type="submit">Submit</button>

    </form>

    <%- include("./includes/end.ejs") %>