<%- include("./includes/head.ejs") %>
  <link rel="stylesheet" href="/styles/createpost.css">
  </head>

  <body>
    <%- include("./includes/header.ejs") %>
      <section class="new-post-container">
        <form method="POST" action="/create-post">

          <label for="postedby">Posted By:</label><br>
          <input type="text" id="postedby" name="postedby"><br>

          <label for="avatarlink">Avatar Link:</label><br>
          <input type="text" id="avatarlink" name="avatarlink"><br>

          <label for="title">Blog Title:</label><br>
          <input type="text" id="title" name="title"><br>

          <label for="postcontent">Blogg post text:</label><br>
          <textarea type="text" col="40" row="50" id="postcontent" name="postcontent"></textarea><br>

          <label for="tags">Tags:</label><br>
          <input type="text" id="tags" name="tags"><br>

          <button type="submit">SUBMIT NEW BLOGPOST</button>

        </form>
      </section>

      <%- include("./includes/end.ejs") %>