<%- include("./includes/head.ejs") %>

  </head>

  <body>
    <header class="header">
      <h1>Malmös Blogg</h1>
      <nav>
        <ul>
          <li>Blogg</li>
          <li>New Post</li>
        </ul>
      </nav>
      <ul>

      </ul>
    </header>

    <%- include("./includes/end.ejs") %>